@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>
        <b>
            WELCOME <br>
            TO MY <br>
            BANKING <br>
            WEB APP <br>
        </b>
    </h1>
</div>

<table class="table">

    <tbody>
        <tr>
            <td>
                <b>Checking Account</b> <br>
                <a href="/Checkings/Create/">Create</a>  <br>
                <a href="/Checkings/Index/">Delete</a>  <br>
                <a href="/Checkings/Deposit/">Deposit</a>  <br>
                <a href="/Checkings/Withdraw/">Withdraw</a>  <br>
                <a href="/Checkings/Transfer/">Transfer To Business</a> <br>
            </td>
        </tr>
    </tbody>
</table>

<table class="table">

    <tbody>
        <tr>
           <td>
                <b>Business Account</b> <br>
                <a href="/Businesses/Create/">Create</a>  <br>
                <a href="/Businesses/Index/">Delete</a>  <br>
                <a href="/Businesses/Deposit/">Deposit</a>  <br>
                <a href="/Businesses/Withdraw/">Withdraw</a>  <br>
                <a href="/Businesses/Transfer/">Transfer To Checking</a> <br>
            </td>
        </tr>
    </tbody>
</table>

<table class="table">

    <tbody>
        <tr>
            <td>
                <b>Loan Account</b><br>
                <a href="/Loans/Create/">Create</a>  <br>
                <a href="/Loans/Index/">Delete</a>  <br>
                <a href="/Loans/CheckTransfer/">Transfer To Checking</a> <br>
                <a href="/Loans/BusTransfer/">Transfer To Business</a> <br>
                <a href="/Loans/PayLoan/">Pay Loan</a> <br>
            </td>
        </tr>
    </tbody>
</table>

<table class="table">

    <tbody>
        <tr>
            <td>
                <b>Term Account</b><br>
                <a href="/Terms/Create/">Create</a>  <br>
                <a href="/Terms/Index/">Delete</a>  <br>
                <a href="/Terms/Deposit/">Deposit</a>  <br>
                <a href="/Terms/Withdraw/">Withdraw</a> <br>
            </td>
        </tr>
    </tbody>
</table>



